.bundle
log/*log
*.swp
nbproject/*
tmp/*
config/database.yml
config/secrets.yml
config/local_env.yml
db/*.sqlite3
coverage*
.autotest
.sass-cache/
C:\\nppdf32Log\\debuglog.txt
.idea
log/*csv
notes.txt
notes.rb
*~

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history
